<div class="container">
    <legend>Ausgaben hinzufügen</legend>
    <form [formGroup]="invoiceForm" (ngSubmit)="submit">

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" formControlName="title" placeholder="Titel" id="title"
            name="title" required>
          <mat-error></mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Wähle Kategorie</mat-label>
          <mat-select [(ngModel)]="selectedValue" formControlName="categorie" id="categorie" name="category" required>
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="fill">
          <input matInput [matDatepicker]="picker" class="form-control" formControlName="date" placeholder="Datum"
            id="date" name="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Betrag in €" formControlName="amount" type="number" id="id" name="amount" min="0"
            oninput="validity.valid||(value='');" required>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button [type]="submit" (click)="confirmAdd()">Speichern</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Zurück</button>
      </div>
    </form>
  </div>