<div class="container">
    <h3 mat-dialog-title>Sind Sie sicher?</h3>
    <div mat-dialog-content>
      Id: {{data._id}}
      <p></p>
      Titel: {{data.title}}
      <p></p>
      Kategorie: {{data.categorie}}
      <p></p>
      Betrag: {{data.amount}}
      <p></p>
      <p></p>
      Datum: {{data.date| date:'dd-MM-yyyy'}}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="1" (click)="confirmDelete(data._id)">Löschen</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Zurück</button>
    </div>
  </div>